---
layout: default.liquid
pagination:
  data: story
  size: 1
  alias: st
permalink: '/stories/{{ st.title | slug }}/'
---

<p>{{ st.title }} is described as - {{ st.description }}
{{ st.textContent }}</p>

<a href="../../../storycontent/{{ st.title | slug }}">Read the story now</a>
